In [2]:
import matplotlib as mpl
mpl.__version__

'3.5.1'

In [3]:
import pandas as pd
pd.__version__

'1.3.0'

In [4]:
import numpy as np
np.__version__

'1.19.5'

In [5]:
import matplotlib.pyplot as plt
import matplotlib.animation as ani
import matplotlib.gridspec as gridspec
from IPython.display import HTML

In [6]:
albums = pd.read_csv('data/albums.csv')
bands = pd.read_csv('data/bands.csv')
reviews = pd.read_csv('data/reviews.csv')

In [7]:
albums

          id   band                                    title  year
0          1      1                           Taste the Hate  2014
1          2      3                     The Bringer of Death  2014
2          3      4  Deception| Calculate What You Can't See  2005
3          4      7                              Inti Huacay  1998
4          5      7                         Génesis & horror  2002
...      ...    ...                                      ...   ...
28064  28065  37723                   White Noise Paranormal  2010
28065  28066  37723                  Anomalies of the Forest  2011
28066  28067  37723                    Mother Earth Pantheon  2012
28067  28068  37723                               Paganwinds  2014
28068  28069  37723                    The Tenalach Prophecy  2016

[28069 rows x 4 columns]

In [8]:
rev = (reviews[['album','score']].set_index('album') *100).astype(np.int64)#
rev

       score
album
4         88
5         96
8         83
45        80
54        92
...      ...
28061     89
28065     80
28065     80
28066     80
28067     70

[21510 rows x 1 columns]

In [9]:
a = []
for i in rev.index.unique():
    if len(rev.loc[i]) > 1:
        a.append(round(rev.loc[i].mean()['score']))
    else:
        a.append(round(rev.loc[i].mean()))
a[0:5]

[88, 96, 83, 80, 92]

In [10]:
rev = pd.DataFrame({'album': rev.index.unique(), 'score': a})
rev

      album  score
0         4     88
1         5     96
2         8     83
3        45     80
4        54     92
...     ...    ...
7900  28058     91
7901  28061     89
7902  28065     80
7903  28066     80
7904  28067     70

[7905 rows x 2 columns]

In [11]:
df = albums.merge(bands, 
                  left_on='band', 
                  right_on='id', 
                  suffixes=(None,'_r')).drop(['band', 'id_r'], 
                                             axis=1).merge(rev, 
                                                           left_on='id', 
                                                           right_on='album', 
                                                           suffixes=(None,None), 
                                                           how ='left').drop('album', 
                                                                             axis=1).set_index('id').convert_dtypes()
df

,title,year,name,country,status,formed_in,genre,theme,active,score
id,,,,,,,,,,
1,Taste the Hate,2014,('M') Inc.,United States,Unknown,2009,Death Metal,<NA>,2009-?,<NA>
2,The Bringer of Death,2014,.F.O.A.D.,France,Active,2009,Death Metal,Life and Death,2009-present,<NA>
3,Deception| Calculate What You Can't See,2005,100 Suns,United States,Active,2004,Death Metal,<NA>,2004-present,<NA>
4,Inti Huacay,1998,1917,Argentina,Active,1994,Death Metal,Dark Philosophical Poetry| Art| Religion| Psyc...,1994-present,88
5,Génesis & horror,2002,1917,Argentina,Active,1994,Death Metal,Dark Philosophical Poetry| Art| Religion| Psyc...,1994-present,96
...,...,...,...,...,...,...,...,...,...,...
28065,White Noise Paranormal,2010,Frozen Mist,United States,Active,2004,Gothic Metal (2004-2006)| Melodic Death/Gothic...,Darkness| Despair| Death| Horror| Pagan Ancestry,2004-2014| 2014-2016| 2016-present,80
28066,Anomalies of the Forest,2011,Frozen Mist,United States,Active,2004,Gothic Metal (2004-2006)| Melodic Death/Gothic...,Darkness| Despair| Death| Horror| Pagan Ancestry,2004-2014| 2014-2016| 2016-present,80
28067,Mother Earth Pantheon,2012,Frozen Mist,United States,Active,2004,Gothic Metal (2004-2006)| Melodic Death/Gothic...,Darkness| Despair| Death| Horror| Pagan Ancestry,2004-2014| 2014-2016| 2016-present,70
28068,Paganwinds,2014,Frozen Mist,United States,Active,2004,Gothic Metal (2004-2006)| Melodic Death/Gothic...,Darkness| Despair| Death| Horror| Pagan Ancestry,2004-2014| 2014-2016| 2016-present,<NA>
28069,The Tenalach Prophecy,2016,Frozen Mist,United States,Active,2004,Gothic Metal (2004-2006)| Melodic Death/Gothic...,Darkness| Despair| Death| Horror| Pagan Ancestry,2004-2014| 2014-2016| 2016-present,<NA>

In [12]:
def convert(list_):
    temp = []
    for i in list_:
        temp.extend(i)
    return temp

def remove_all(list_, value):
    while list_.count(value):
        list_.remove(value)
    return list_

def years(y):
    y = y.split('|')
    for i in range(len(y)):
        w = y[i].split('-', 1)
        for k in range(len(w)):
            if w[k].find('(') != -1 or w[k].find(')') != -1 or w[k].find('?') != -1: #ignoring changed name bands
                w[k] = None
            elif w[k].find('present') != -1:
                w[k] = 2017
            else:
                w[k] = int(w[k])
        w = remove_all(w, None)
        if len(w) == 0:
            y[i] = []
        elif len(w) == 1:
            y[i] = w
        elif len(w) == 2:
            y[i] = list(range(w[0], w[1] + 1))
       
    y = convert(y)
    return y

df['active'] = df['active'].fillna('?').apply(years)
df['active']

id
1                                                   [2009]
2        [2009, 2010, 2011, 2012, 2013, 2014, 2015, 201...
3        [2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...
4        [1994, 1995, 1996, 1997, 1998, 1999, 2000, 200...
5        [1994, 1995, 1996, 1997, 1998, 1999, 2000, 200...
                               ...
28065    [2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...
28066    [2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...
28067    [2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...
28068    [2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...
28069    [2004, 2005, 2006, 2007, 2008, 2009, 2010, 201...
Name: active, Length: 28069, dtype: object

In [13]:
countrys = df['country'].unique()
len_ = len(countrys) + 1
colors = {}
for i in range(len_):
    if i == len_ - 1:
        colors['Other'] = (0.6, 0.4, 0.8, 1.)
    else:
        colors[countrys[i]] = plt.cm.Spectral((i+1)/float(len_ - 1))
colors

{'United States': (0.6365244136870435,
  0.022683583237216455,
  0.26282199154171476,
  1.0),
 'France': (0.6534409842368321, 0.04144559784698193, 0.2668204536716648, 1.0),
 'Argentina': (0.6703575547866205,
  0.0602076124567474,
  0.27081891580161477,
  1.0),
 'Spain': (0.6872741253364091, 0.07896962706651288, 0.2748173779315648, 1.0),
 'Sweden': (0.7041906958861976, 0.09773164167627835, 0.27881584006151483, 1.0),
 'Australia': (0.7211072664359862,
  0.11649365628604381,
  0.28281430219146486,
  1.0),
 'Mexico': (0.7380238369857748, 0.1352556708958093, 0.28681276432141484, 1.0),
 'Italy': (0.7549404075355632, 0.15401768550557476, 0.29081122645136487, 1.0),
 'Germany': (0.7718569780853518, 0.17277970011534027, 0.2948096885813149, 1.0),
 'Bulgaria': (0.7887735486351404,
  0.19154171472510573,
  0.29880815071126493,
  1.0),
 'Chile': (0.8056901191849289, 0.21030372933487118, 0.3028066128412149, 1.0),
 'Czech Republic': (0.8226066897347175,
  0.22906574394463664,
  0.30680507497116494,
  1.0),
 'Brazil': (0.8376778162245291, 0.2467512495194156, 0.308881199538639, 1.0),
 'Colombia': (0.8472126105344099,
  0.2612072279892349,
  0.30519031141868513,
  1.0),
 'Indonesia': (0.8567474048442907,
  0.2756632064590542,
  0.30149942329873125,
  1.0),
 'Finland': (0.8710495963091118, 0.2973471741637831, 0.2959630911188005, 1.0),
 'United Kingdom': (0.8805843906189927,
  0.3118031526336025,
  0.2922722029988466,
  1.0),
 'Canada': (0.8901191849288735, 0.3262591311034217, 0.28858131487889277, 1.0),
 'Belgium': (0.8996539792387543, 0.340715109573241, 0.2848904267589389, 1.0),
 'Poland': (0.9091887735486351, 0.3551710880430603, 0.281199538638985, 1.0),
 'Syria': (0.9187235678585159, 0.3696270665128797, 0.2775086505190312, 1.0),
 'Netherlands': (0.9282583621683967,
  0.3840830449826989,
  0.2738177623990773,
  1.0),
 'Japan': (0.9377931564782777, 0.39853902345251824, 0.2701268742791234, 1.0),
 'Greece': (0.9473279507881585, 0.4129950019223375, 0.2664359861591696, 1.0),
 'Costa Rica': (0.9568627450980393,
  0.42745098039215684,
  0.2627450980392157,
  1.0),
 'Ukraine': (0.9596309111880047, 0.44744329104190683, 0.2719723183391003, 1.0),
 'Russia': (0.96239907727797, 0.46743560169165704, 0.281199538638985, 1.0),
 'Hungary': (0.9651672433679355, 0.48742791234140703, 0.2904267589388696, 1.0),
 'India': (0.9679354094579008, 0.5074202229911572, 0.2996539792387543, 1.0),
 'Malaysia': (0.9707035755478662, 0.5274125336409072, 0.3088811995386389, 1.0),
 'Slovakia': (0.9748558246828143,
  0.5574009996155325,
  0.32272202998846594,
  1.0),
 'Venezuela': (0.9776239907727797,
  0.5773933102652824,
  0.33194925028835054,
  1.0),
 'Portugal': (0.9803921568627452,
  0.5973856209150326,
  0.34117647058823525,
  1.0),
 'Serbia': (0.9831603229527105, 0.6173779315647827, 0.3504036908881199, 1.0),
 'Norway': (0.9859284890426759, 0.6373702422145328, 0.35963091118800455, 1.0),
 'Austria': (0.9886966551326413, 0.6573625528642827, 0.36885813148788915, 1.0),
 'Lithuania': (0.9914648212226067,
  0.677354863514033,
  0.37808535178777386,
  1.0),
 'Panama': (0.9923875432525952, 0.6938869665513263, 0.3900807381776239, 1.0),
 'Switzerland': (0.9926951172625913,
  0.7092656670511341,
  0.40299884659746243,
  1.0),
 'Denmark': (0.9930026912725874, 0.7246443675509417, 0.41591695501730086, 1.0),
 'Malta': (0.9933102652825836, 0.7400230680507497, 0.42883506343713945, 1.0),
 'Nepal': (0.9936178392925799, 0.7554017685505574, 0.441753171856978, 1.0),
 'International': (0.993925413302576,
  0.7707804690503652,
  0.4546712802768165,
  1.0),
 'El Salvador': (0.9942329873125721,
  0.7861591695501728,
  0.46758938869665495,
  1.0),
 'South Africa': (0.9945405613225683,
  0.8015378700499807,
  0.48050749711649354,
  1.0),
 'Macedonia (FYROM)': (0.9948481353325644,
  0.8169165705497885,
  0.4934256055363321,
  1.0),
 'Iran': (0.9953094963475586, 0.8399846212995001, 0.5128027681660899, 1.0),
 'Turkey': (0.9956170703575548, 0.855363321799308, 0.5257208765859285, 1.0),
 'Philippines': (0.9959246443675509,
  0.8707420222991157,
  0.5386389850057669,
  1.0),
 'Albania': (0.9962322183775472, 0.88319876970396, 0.5530949634755863, 1.0),
 'Ecuador': (0.9965397923875433, 0.8927335640138409, 0.5690888119953863, 1.0),
 'Kuwait': (0.9968473663975395, 0.9022683583237217, 0.5850826605151864, 1.0),
 'Honduras': (0.9971549404075356, 0.9118031526336025, 0.6010765090349866, 1.0),
 'Belarus': (0.9974625144175318, 0.9213379469434833, 0.6170703575547866, 1.0),
 'Armenia': (0.9977700884275279, 0.930872741253364, 0.6330642060745867, 1.0),
 'Tunisia': (0.998077662437524, 0.9404075355632449, 0.6490580545943867, 1.0),
 'Singapore': (0.9983852364475202,
  0.9499423298731258,
  0.6650519031141868,
  1.0),
 'Latvia': (0.9986928104575163, 0.9594771241830066, 0.681045751633987, 1.0),
 'Peru': (0.9990003844675125, 0.9690119184928874, 0.697039600153787, 1.0),
 'Romania': (0.9993079584775086, 0.9785467128027682, 0.7130334486735871, 1.0),
 'Croatia': (0.9996155324875048, 0.988081507112649, 0.7290272971933871, 1.0),
 'Slovenia': (0.998077662437524, 0.9992310649750096, 0.7460207612456747, 1.0),
 'Uruguay': (0.9903883121876201, 0.9961553248750481, 0.7340253748558248, 1.0),
 'Estonia': (0.9826989619377164, 0.9930795847750865, 0.7220299884659749, 1.0),
 'New Zealand': (0.9750096116878124,
  0.9900038446751249,
  0.7100346020761246,
  1.0),
 'Bolivia': (0.9673202614379085, 0.9869281045751634, 0.6980392156862746, 1.0),
 'Ireland': (0.9596309111880047, 0.9838523644752019, 0.6860438292964245, 1.0),
 'Botswana': (0.9519415609381008, 0.9807766243752404, 0.6740484429065745, 1.0),
 'Korea| South': (0.944252210688197,
  0.9777008842752788,
  0.6620530565167244,
  1.0),
 'Saudi Arabia': (0.9365628604382931,
  0.9746251441753172,
  0.6500576701268744,
  1.0),
 'Luxembourg': (0.9288735101883892,
  0.9715494040753557,
  0.6380622837370243,
  1.0),
 'Vietnam': (0.9211841599384853, 0.9684736639753941, 0.6260668973471745, 1.0),
 'Paraguay': (0.9134948096885814, 0.9653979238754326, 0.6140715109573243, 1.0),
 'Morocco': (0.9058054594386775, 0.9623221837754711, 0.6020761245674742, 1.0),
 'Israel': (0.8928873510188392, 0.9570934256055365, 0.5979238754325259, 1.0),
 'Iceland': (0.874740484429066, 0.9497116493656287, 0.6016147635524798, 1.0),
 'Thailand': (0.8565936178392929, 0.942329873125721, 0.6053056516724337, 1.0),
 'Monaco': (0.8293733179546331, 0.9312572087658594, 0.6108419838523644, 1.0),
 'Belize': (0.8112264513648599, 0.9238754325259517, 0.6145328719723183, 1.0),
 'Algeria': (0.7930795847750868, 0.916493656286044, 0.6182237600922722, 1.0),
 'Nicaragua': (0.7749327181853136,
  0.9091118800461362,
  0.6219146482122261,
  1.0),
 'Jersey': (0.7567858515955403, 0.9017301038062285, 0.6256055363321799, 1.0),
 'Gibraltar': (0.7386389850057672,
  0.8943483275663208,
  0.6292964244521337,
  1.0),
 'Bangladesh': (0.720492118415994,
  0.8869665513264131,
  0.6329873125720876,
  1.0),
 'Curaçao': (0.7023452518262209, 0.8795847750865053, 0.6366782006920415, 1.0),
 'Guatemala': (0.6841983852364477,
  0.8722029988465976,
  0.6403690888119954,
  1.0),
 'Dominican Republic': (0.6652825836216842,
  0.8645905420991927,
  0.6432141484044599,
  1.0),
 'San Marino': (0.6440599769319495,
  0.8562860438292965,
  0.643521722414456,
  1.0),
 'Bosnia and Herzegovina': (0.6228373702422147,
  0.8479815455594003,
  0.6438292964244522,
  1.0),
 'Kazakhstan': (0.60161476355248, 0.8396770472895041, 0.6441368704344483, 1.0),
 'Puerto Rico': (0.5803921568627453,
  0.8313725490196079,
  0.6444444444444445,
  1.0),
 'Taiwan': (0.5591695501730105, 0.8230680507497117, 0.6447520184544406, 1.0),
 'Pakistan': (0.5273356401384084, 0.8106113033448674, 0.6452133794694349, 1.0),
 'Moldova': (0.5061130334486736, 0.8023068050749712, 0.6455209534794311, 1.0),
 'Egypt': (0.48489042675893923, 0.7940023068050751, 0.6458285274894272, 1.0),
 'Lebanon': (0.46366782006920426, 0.7856978085351788, 0.6461361014994234, 1.0),
 'Unknown': (0.4424452133794695, 0.7773933102652826, 0.6464436755094195, 1.0),
 'Cyprus': (0.42122260668973477, 0.7690888119953864, 0.6467512495194156, 1.0),
 'Åland Islands': (0.4, 0.7607843137254902, 0.6470588235294118, 1.0),
 'China': (0.38400615148019995, 0.7429450211457131, 0.6544405997693196, 1.0),
 'Kenya': (0.3680123029603999, 0.7251057285659361, 0.6618223760092272, 1.0),
 'Georgia': (0.35201845444059976, 0.7072664359861591, 0.669204152249135, 1.0),
 'Jordan': (0.33602460592079997, 0.6894271434063823, 0.6765859284890426, 1.0),
 'Liechtenstein': (0.3200307574009996,
  0.6715878508266051,
  0.6839677047289504,
  1.0),
 'Laos': (0.30403690888119955, 0.6537485582468281, 0.6913494809688582, 1.0),
 'Cuba': (0.2880430603613995, 0.6359092656670511, 0.6987312572087659, 1.0),
 'Maldives': (0.27204921184159936,
  0.6180699730872741,
  0.7061130334486736,
  1.0),
 'Andorra': (0.2560553633217993, 0.6002306805074971, 0.7134948096885814, 1.0),
 'United Arab Emirates': (0.23206459054209921,
  0.5734717416378317,
  0.7245674740484429,
  1.0),
 'Faroe Islands': (0.21607074202229912,
  0.5556324490580546,
  0.7319492502883507,
  1.0),
 'Iraq': (0.20007689350249905, 0.5377931564782776, 0.7393310265282584, 1.0),
 'Guernsey': (0.20622837370242214,
  0.5201845444059977,
  0.7349480968858132,
  1.0),
 'New Caledonia': (0.21976163014225297,
  0.5026528258362168,
  0.726643598615917,
  1.0),
 'Sri Lanka': (0.2332948865820838, 0.485121107266436, 0.7183391003460208, 1.0),
 'Montenegro': (0.24682814302191466,
  0.4675893886966551,
  0.7100346020761246,
  1.0),
 'Kyrgyzstan': (0.2603613994617455,
  0.45005767012687425,
  0.7017301038062284,
  1.0),
 'Turkmenistan': (0.27389465590157636,
  0.4325259515570934,
  0.6934256055363321,
  1.0),
 'Azerbaijan': (0.2874279123414072,
  0.4149942329873126,
  0.6851211072664359,
  1.0),
 'Bahrain': (0.300961168781238, 0.3974625144175317, 0.6768166089965397, 1.0),
 'Reunion': (0.31449442522106885,
  0.37993079584775086,
  0.6685121107266436,
  1.0),
 'Suriname': (0.3280276816608997,
  0.36239907727797005,
  0.6602076124567474,
  1.0),
 'Mongolia': (0.3415609381007305, 0.3448673587081892, 0.6519031141868512, 1.0),
 'Greenland': (0.35509419454056135,
  0.3273356401384083,
  0.643598615916955,
  1.0),
 'Uzbekistan': (0.3686274509803922,
  0.30980392156862746,
  0.6352941176470588,
  1.0),
 'Other': (0.6, 0.4, 0.8, 1.0)}

In [126]:
plt.cm.Spectral(254)

(0.36186082276047676, 0.3185697808535179, 0.6394463667820068, 1.0)

In [30]:
contains = np.vectorize(lambda a, b: a.__contains__(b))

#df['country'][df['name'][contains(df['active'], 2017)].drop_duplicates().index].value_counts().sum()

df['country'][df[df['formed_in'] == 2016]['name'].drop_duplicates().index].value_counts()

(United States    5
 International    3
 Canada           2
 Mexico           2
 Australia        1
 Serbia           1
 New Zealand      1
 Belgium          1
 Germany          1
 Sweden           1
 Russia           1
 Brazil           1
 Finland          1
 Spain            1
 Name: country, dtype: Int64,
 United States    5
 International    3
 Canada           2
 Mexico           2
 Russia           2
 Australia        1
 Serbia           1
 New Zealand      1
 Belgium          1
 Germany          1
 Sweden           1
 Brazil           1
 Finland          1
 Spain            1
 Name: country, dtype: Int64)

In [ ]:
fig = plt.figure(figsize=(10, 10), constrained_layout=True)

class Animation():
  def __init__(self, fig, df):
    self.fig = fig 
    self.df = df
    
    self.gs0 = gridspec.GridSpec(2, 1, figure=fig)
    
    self.gs1 = gridspec.GridSpecFromSubplotSpec(1, 3, subplot_spec=self.gs0[0])
    
    self.active = fig.add_subplot(self.gs1[0])
    self.new = fig.add_subplot(self.gs1[1])
    self.release = fig.add_subplot(self.gs1[2])
    
    #self.all = fig.add_subplot(self.gs0[1])

  def update(self, year):
    #print(year)
    self.active.clear()
    self.new.clear()
    self.release.clear()
    #self.all.clear()
    
    #plt.title(f'Year - {year}')
    
    self.new.set_xlabel(f'Year - {year}')
    
    #active block start
    country = df['country'][df['name'][contains(df['active'], year)].drop_duplicates().index].value_counts()
    country['Other'] = country[5:].sum()
    country=country.sort_values()[::-1][:6]
    sum_ = country.sum()
    if sum_:
        for l, v in country[::-1].items():
            self.active.bar(-4, sum_, label=f'{l} - {v}', width=1, color = colors[l])
            sum_ -= v
        self.active.set_xticks([])
        self.active.set_xlim(-4.8, 0.5)
        self.active.legend()
        self.active.set_title(f'Active bands - {country.sum()}')
    else:
        self.active.set_yticks([])
        self.active.set_xticks([])
        self.active.set_title(f'No active bands')
    #active block end
    
    #new block start
    country = df['country'][df[df['formed_in'] == year]['name'].drop_duplicates().index].value_counts()
    country['Other'] = country[5:].sum()
    country=country.sort_values()[::-1][:6]
    sum_ = country.sum()
    if sum_:
        for l, v in country[::-1].items():
            self.new.bar(-4, sum_, label=f'{l} - {v}', width=1, color = colors[l])
            sum_ -= v
        self.new.set_xticks([])
        self.new.set_xlim(-4.8, 0.5)
        self.new.legend()
        self.new.set_title(f'New bands - {country.sum()}')
    else:
        self.new.set_yticks([])
        self.new.set_xticks([])
        self.new.set_title(f'No new bands')
    #new block end
    
    #release block start
    country = df[df['year'] == year]['country'].value_counts()
    country['Other'] = country[5:].sum()
    country=country.sort_values()[::-1][:6]
    
    sum_ = country.sum()
    if sum_:
        for l, v in country[::-1].items():
            self.release.bar(-4, sum_, label=f'{l} - {v}', width=1, color = colors[l])
            sum_ -= v
    
        self.release.set_xticks([])
        self.release.set_xlim(-4.8, 0.5)
        self.release.legend()
        self.release.set_title(f'Amount of releases - {country.sum()}')
    else:
        self.release.set_yticks([])
        self.release.set_xticks([])
        self.release.set_title(f'No releases')
    #release block end
    
    
    
    return self.fig

obj = Animation(fig, df)
anim = ani.FuncAnimation(fig, obj.update,
                         frames = range(1978, 2018),
                         repeat = False,
                         interval=500)


HTML(anim.to_html5_video())

In [154]:

c = df[df['year'] == 2016]['country'].value_counts()
c['Other'] = c[3:].sum()
c = c.sort_values()[::-1][:4]
for l,v in c[::-1].items():
    print(l,v)

Sweden 82
Germany 143
United States 378
Other 1082